/**
 * Base
 */
body {
	font: normal 13px/18px Arial, sans-serif;
	padding: 20px;
}


/**
 * Typo
 */
h1, h2, h3 ,h4, h5, h6 { font-family: Arial, sans-serif; font-weight: bold; }

.page-header { font-size: 20px; line-height: 28px; margin-bottom: 15px; }

p { margin-bottom: 10px; }

a       { color: #00e; }
a:hover { color: #f00; }


/**
 * Grid
 */
#container       { margin: 0 auto 20px; }
#header          { margin: 20px 0 40px; }
#nav             { margin-bottom: 20px; }
#wrapper         { margin-bottom: 20px; }
#content-wrapper { float: left; width: 100%; margin-right: -330px; }
#content         { margin-right: 330px; padding: 20px; background: #f7f7f7; }
#sidebar         { float: right; width: 300px; }
#footer          { padding: 10px; background: #f7f7f7; }

#container.no-sidebar #content { margin-right: 0; }


/**
 * Header
 */
#header a                  { text-decoration: none; color: #000; }

#header .site-name         { margin: 0 0 10px; font-size: 54px; line-height: 1em; font-weight: bold; }
#header .site-name a:hover { color: #3a41b8; }
#header .site-description  { color: #777; font-size: 15px; font-weight: normal; }


/**
 * Blocks
 */
.block            { padding: 20px; margin-bottom: 20px; background: #f7f7f7; }
.block:last-child { margin-bottom: 0; }

.block-title      { font-size: 20px; margin-bottom: 10px; }


/**
 * Stat
 */
.stat-performance          { width: 860px; margin: 0 auto; padding: 15px 20px; background: #fafafa; }
.stat-performance table td { width: 200px; vertical-align: top; color: #777; }
.stat-performance h4       { font-weight: bold; color: #000; }


/**
 * System messages
 */
.system-message-error 			{ background: #f0c8c8; color: #b22626; padding: 10px 15px; margin-bottom: 15px; }
.system-message-notice 			{ background: #dafad8; color: #4bb23b; padding: 10px 15px; margin-bottom: 15px; }
.system-message-notice a		{ color: #479839; text-decoration: underline; }
.system-message-notice a:hover	{ color: #4bb23b; }


/**
 * Pagination
 */
.pagination ul 					{ overflow: hidden; zoom: 1; line-height: 1em; }
.pagination ul li 				{ float: left; margin-right: 5px; }
.pagination ul li span,
.pagination ul li a 			{ float: left; padding: 7px 10px; background: #eee; color: #333; }
.pagination ul li a:hover 		{ background: #ddd; }
.pagination ul li.active span 	{ color: #bbb; background: #fafafa; }
.pagination ul li i 			{ opacity: .5; filter: alpha(opacity=50); }